<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create Publication</h3>
  </div>
  <div class="panel-body">
    <form method="post" action="/publication/create" class="form-horizonal" role="createPub" enctype="multipart/form-data">
      <input type="text" class="form-control" name= "title" placeholder="Title">
      <br>
      <select class="form-control" name="pubType">
        <option value="Article">Article</option>
        <option value="type2">Type2</option>
        <option value="type3">Type3</option>
      </select>
      <br>
      <input type="text" readonly="" class="form-control floating-label" placeholder="Browse file">
      <input type="file" name="file" id="inputFile">
      <br>
      <textarea class="form-control" rows="4" id="textArea"></textarea>
      <span class="help-block">Abstract</span>
      <br>
      <button type="submit" class="btn btn-block btn-success">Submit</button>
    </form>
  </div>
</div>
