<div class="jumbotron">
  <h1>ResearchGate</h1>
    <p><strong>ResearchGate</strong> is a social network that connects researchers around the world.</p>
  <p><a class="btn btn-raised btn-success btn-lg" href="/signup">Register now</a></p>
</div>

