  <paper-shadow z=2 class="hero">
    <p><strong>ResearchGate</strong> is a social network that connects researchers around the world.</p>
    <paper-button raised class="green" onclick="window.location.href = '/signup';">Register now</paper-button>
</paper-shadow>

