<a href="/publication/create" class="btn btn-success">Create a new publication</a>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Publication's list</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        {{#each publications}}
        <a href="/publication/{{this._id}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{{this.title}}}</h4>
          <p class="list-group-item-text">author(s): {{{this.author.username}}}</p>
          <br>
        </a>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
