<div class="row">
    <div class="col-md-12">
        <a href="/publication/create" class="btn btn-info">Create a new publication</a>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Publication's list</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {{#each publications}}
                <li class="list-group-item-heading">Title: {{this.title}}
                    {{#if this.hasAccess}}
                    <a href="/publication/{{this.id}}" class="btn btn-xs btn-success">See!</a>
                    {{else}}
                    <a href="/publication/askAccess/{{this.id}}" class="btn btn-xs btn-success">Request Permission</a>
                {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>