<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Research-Cenas</title>
  <link href="/public/styles.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="bar">
    <span class="title">ResearchGate</span>
    <div class="avatar"><img src="https://avatars0.githubusercontent.com/u/239438?v=3&s=40"></div>
  </div>
  <h3>{{message}}</h3><br/>
  <hr>
  {{{content}}}
</body>
