<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Research-Cenas</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/styles.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=RobotoDraft:400,300,500,700' rel='stylesheet' type='text/css'>
</head>
<!--<body fullbleed vertical layout>
    <core-header-panel flex>
      <core-toolbar id="mainheader">
        <a href="/" class="lo" flex >Research<span class="go">Gate</span></a>
        <paper-button raised onclick="window.location.href = '/login';" class="label">Login</paper-button>
      </core-toolbar>
    {{{content}}}
    </core-header-panel>
    {{#if message}}
      <paper-toast opened responsiveWidth='10000px' narrowMode text="{{message}}"></paper-toast>
    {{/if}}-->
<body>
<div class="navbar navbar-success">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><span class="lo">Research<span class="go">Gate</span></span></a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <div class="nav navbar-nav navbar-right">
      <a href="/login" class="btn btn-flat btn-lg btn-raised">Login</a>
    </div>
  </div>
</div>
<div class="container">
  {{{content}}}
</div>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="public/scripts.js"></script>
</body>
</html>
