<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Research-Cenas</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/styles.css" rel="stylesheet" type="text/css">
<link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=RobotoDraft:400,300,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-success">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><span class="lo">Research<span class="go">Gate</span></span></a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <div class="nav navbar-nav navbar-right">
      <a href="/login" class="btn btn-flat btn-lg btn-raised">Login</a>
    </div>
  </div>
</div>
<div class="container">
  {{{content}}}
</div>
{{#if message}}
  <div id="message" data-timeout=0 data-content="{{{message}}}"></div>
{{/if}}
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
<script src="public/scripts.js"></script>
</body>
</html>
